
.img-cover{
width: 15%;
border-radius: 100%;
}
.container{
    display: flex;
}
.header{
    display: flex;
    padding: 10px;
}
.header p{
    margin: 10px;
}
.rigth-bar{
    overflow-y: auto;
    width: 70%;
    height: 90vh;
}
.left-bar{
    width: 30%;
    margin-left: 10%;

}
.right-post{
    width: 50%;
    margin: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
.header img{
    width: 20%;
    border-radius: 100%;
}
.img-post img{
    width: 60%;
}
.img-cover {
    width: 250px;
    position: relative;
}
.img-profile img{
    position: absolute;
    width: 150px;
    border-radius: 100%;
    bottom: 35%;
}
.name-profile,
.btn_post button
{
    margin-top: 80px;
}
.description,
.img-post{
    margin-left: 30%;
}

/* .left-bar
.img-cover
.img-profile
.name-profile{
    margin-left: 30%;
} */
/* button post */
.btn_post button{
    border: none;
    width: 200px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}