.nav{
    position: fixe;
}
.img-cover{
width: 15%;
border-radius: 100%;
}
.container{
    display: flex;
}
.header{
    display: flex;
    padding: 10px;
}
.header p{
    margin: 10px;
}
.rigth-bar{
    overflow: scroll;
    width: 70%;
}
.right-post{
    width: 50%;

  
}

.img-post img{
    width: 50%;
}
.img-cover img{
    width: 250px;

    position: relative;
}
.img-profile img{
    position: absolute;
    width: 20%;
    border-radius: 100%;
    bottom: 10px;
}
.name-profile,
.btn_post button
{
    margin-top: 80px;
}

/* button post */
.btn_post button{
    border: none;
    width: 200px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* background: none; */
}